<!DOCTYPE html>
<html>
<head>
    <title>MetaGesture</title>
    <meta charset="utf-8">
    <meta name= "viewport" content="initial-scale=1" width="device-width">
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <link rel="icon" href="/images/logo.png">
    <meta property="og:image" src="/static/logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="640">
    <meta property="og:image:height" content="480">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MetaGesture">
    <meta property="og:description" content="Get Stats for your Youtube Music and Share with your friends">
    <meta name="keywords" content=" ASL,ISL,Sign,Language,Communication">
    <meta name="author" content="Rohit D">
</head>
<body>
    <div class="top col-lg-12 col-md-12 col-sd-12">
        <div class="col-lg-4 col-md-3 col-sd-12">
            <div class="theplaylist">
            <button class="butnoob"><a class="butnooblink" href="/">RTCS</a></button>
            </div>
        </div>
        <div class="navbut col-lg-4 col-md-1 col-sd-3">
            <div class="navbuts navbuts1">   
                <a class="navname"></a> 
            </div>
        </div>
        <div class="navbut col-lg-1 col-md-2 col-sd-3">
            <div class="navbuts navbuts1">
            <a class="navname" href="/">Home</a>
            </div>
        </div>
        <div class="navbut col-lg-1 col-md-2 col-sd-2"> 
            <div class="navbuts">
            <a class="navname" href="/asl">ASL</a>
            </div>
        </div>
        <div class="navbut col-lg-1 col-md-2 col-sd-2">
            <div class="navbuts">
            <a class="navname" href="/predict">Predict</a>
            </div>
        </div>
        <div class="navbut col-lg-1 col-md-2 col-sd-2">
            <div class="navbuts">
            <a class="navname" href="/login">Login</a>
            </div>
        </div>
    </div>
    <div class="mainbody">
        <link rel="stylesheet" type="text/css" href="/static/home.css">
        <div class="infoall">
        <div class="col-lg-6 col-md-6 col-sd-12">
            <img class="metaimg" src="/static/index.png" >   
        </div>
        <div class="col-lg-6 col-md-6 col-sd-12">
            <p class="metainfo">Sign Language Conversion Application for Real Time Communication</p>
            <button class="metabutton"><a style="text-decoration:none;color:white;height:50px;" href="login.html">Get Started</a></button>
        </div>
        <div class="col-lg-12 col-md-12 col-sd-12">
            <p class="metahow"> How it Works </p>
            <p class="metah">Introduction</p>
            <p class="metasub">Wanted to create a playlist and find stats for your YouTube and YouTube Music Account? This website is made just for you. The Playlist is an interactive website which automatically creates and stores 
                your youtube playlists, which can be shared with friends.</p>
            <p class="metah">Home</p>
            <p class="metasub">Creates playlists on a month-by-month basis</p>
            <p class="metasub">The Monthly Playlist contains the list of songs and the number of times listened to it in the given month</p>
            <p class="metah">Songs</p>
            <p class="metasub">View Number of times you listened to your favouorite songs</p>
            <p class="metah">Artists</p>
            <p class="metasub">Same as Songs tab, but for your favourite artists</p>
            <p class="metah">Update</p>
            <p class="metasub">This is the heart of the website. To create the playlist, your Youtube and Youtube
                Music Watch-History is needed. Follow the Instructions in the update tab upload your 
                google data here so that the playlists can be created. You can Update your playlist how many ever 
                times you want and as you please.</p>
        </div>
    </div>
    </div>
    <div id="footer"> 
        <a target="_blank" class="linkedinname" href="https://www.linkedin.com/in/rohit-d-898384211/">
        Designed by Rohit D <img class="linkedin" src="/static/linkedin.png">
        </a>
    </div>
</body>
</html>